<!doctype html>
<html lang="en">
  <%- include('header_meta_content'); %>
  
	<body>
		<div class="container">
		  <%- include('header'); %>
		  <%- include('nav_scrollbar'); %>
		  <% if ( blogContent.docs && blogContent.docs.length ) { %>
			<%- include('featured_post_primary'); %>
		  <% } %>
			
		
		  <div class="row mb-2">
		   <% for ( var i = 1; ( blogContent.docs && i < 3 && i < blogContent.docs.length ); i = i +1 ){ %>
			<%- include('featured_post_secondary', {posting: blogContent.docs[i]}); %>	
		   <% }; %>
		  
		  </div>
		</div>

		<main role="main" class="container">
		  <div class="row">
			<div class="col-md-8 blog-main">
			  <h3 class="pb-4 mb-4 font-italic border-bottom">
				Recent Posts
			  </h3>

			  <% for ( var i = 3; (blogContent.docs && i < blogContent.docs.length ); i = i +1 ){ %>
				
				<%- include('blog_card', { posting: blogContent.docs[i] }); %>
			  <% }; %>


			  <nav class="blog-pagination">
				<% if (blogContent.hasNextPage) { %>
					<a class="btn btn-outline-primary" href="/nav/<%= blogContent.nextPage %>">Older</a>	
				<% } else { %>
					<a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Older</a>	
				<% } %>
				
				<% if (blogContent.hasPrevPage) { %>
					<a class="btn btn-outline-primary" href="/nav/<%= blogContent.prevPage %>" tabindex="-1" >Newer</a>
				<% } else { %>
					<a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
				<% } %>
				
				
			  </nav>

			</div><!-- /.blog-main -->

			<aside class="col-md-4 blog-sidebar">
			  <div class="p-4 mb-3 bg-light rounded">
				<h4 class="font-italic">About</h4>
				<p class="mb-0"><%-metaData['bio'] %></p>
			  </div>

			<%- include('archived_routes'); %>
			  

			  <div class="p-4">
				<h4 class="font-italic">Elsewhere</h4>
				<ol class="list-unstyled">
				  <li><a href="<%- metaData['github']%>">GitHub</a></li>
				  <li><a href="<%- metaData['twitter']%>">Twitter</a></li>
				  <li><a href="<%- metaData['facebook']%>">Facebook</a></li>
				</ol>
			  </div>
			</aside><!-- /.blog-sidebar -->

		  </div><!-- /.row -->

		</main><!-- /.container -->

		<%- include('footer'); %>

	</body>
</html>
